#app{
    display: grid;
    grid-template-columns: minmax(auto, 800px) 5fr minmax(auto, 800px);
    grid-template-rows: minmax(50px, auto) minmax(100px, auto) minmax(500px, auto) auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.text{
    background-color: aliceblue;
    grid-column: 2/3;
    grid-row: 0/1;
}



#calculator{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-column: 2/3;
    grid-row: 3/4;
    border-width: 5px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: lightgray;
    border: 2px solid gray;
}

#input{
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
}

#inputBox{
    width: 90%;
    height: 90%;
    font-size: 30px;
    text-align: center;
}


.buttons{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    font-size: 50px;
}
.buttons button {
    font-size: 50px;
  }

.number{
    font-size: 50px;
}

.operator {
    font-size: 50px;
}

#buttonAC {
    grid-column: 1/2;
}

#buttonMulti {
    grid-column: 4/5;
    grid-row: 2/3;
    
}

#buttonAdd {
    grid-column: 4/5;
    grid-row: 3/4;
}

#buttonDiff {
    grid-column: 4/5;
    grid-row: 4/5;
}

#button1{
    grid-column: 1/2;
}

#button4{
    grid-column: 1/2;
}

#button7{
    grid-column: 1/2;
}

#button0{
    grid-column: 2/3;

}

#logDiv{
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 50px;
    width: auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
}

#logList{
    text-align: left;
    margin: auto;
    padding-left: 30%;

    
    
}